@import '../../styles/colors.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.section {
	width: 100%;
	border-radius: 8px;
	background-color: $color-card;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	.title {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
	}
	.cardContainer {
		display: grid;
		grid-template-columns: repeat(auto-fill, minMax(255px, 1fr));
		gap: 15px;
	}
}

.progress {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
