$color-primary: #f4c721;
$color-primary-dark: #f4e6b1;

$color-secondary: #000000;
$color-grey: #f2f1f2;
$color-white: #ffffff;

$color-text: #1e1e1e;
$color-text-grey: #b2b2b2;
$color-placeholder: #d6d6d6;
$color-card: #fcfcfc;

$color-background: #f3f4f4;
$color-background-secondary: #fcfcfc;

$color-green: #19dd44;
$color-red: #ff4848;
